/* CONTENEDOR PRINCIPAL */
.login-container { 
    display: flex;             
    justify-content: center;   
    align-items: center;       
    height: 100vh;             
    background-color: #2F70FA; 
    gap: 80px;                 
    padding: 20px;
}

/* CARTA DE LOGIN */
.login-card { 
    background: white;
    padding: 2.5rem; 
    border-radius: 12px;       
    box-shadow: 0 10px 25px rgba(0,0,0,0.1); 
    width: 350px;
    z-index: 10;
}

/* SECCIÓN DE TEXTO  */
.welcome-section {
    max-width: 400px;
    color:black; 
}

.welcome-section h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.1;
}

.welcome-section p {
    font-size: 1.2rem;
    opacity: 0.8;
}

/* FORMULARIOS Y BOTONES */
.form-group { 
    margin-bottom: 1.2rem; 
    display: flex; 
    flex-direction: column; 
}

label {
    font-weight: 500;
    margin-bottom: 5px;
    color: #555;
}

input { 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 6px; 
    font-family: inherit; /* Para que herede la fuente Poppins */
}

input:focus {
    outline: none;
    border-color: #46BDA2;
    box-shadow: 0 0 0 3px rgba(70, 189, 162, 0.2);
}

button { 
    background: #46BDA2; 
    color: white; 
    padding: 12px; 
    border: none; 
    border-radius: 6px; 
    cursor: pointer; 
    width: 100%; 
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
    transition: background 0.3s;
}

button:hover {
    background: #3aa88f;
}

button:disabled { 
    background: #ccc; 
    cursor: not-allowed;
}

.error { 
    color: #e74c3c; 
    font-size: 0.9rem; 
    text-align: center;
    margin-top: 10px;
}

/* RESPONSIVE*/
@media (max-width: 768px) {
    .login-container {
        flex-direction: column-reverse; 
        gap: 30px;
        text-align: center;
    }
    
    .welcome-section h1 {
        font-size: 2rem;
    }
}